<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
 <listeners>
 
 <listener class-name="utility.Listener.class"></listener>
 
 </listeners>
  <test thread-count="5" name="Test">
    <classes>
      <class name="qa.testcases.FrameTest"/>
      <class name="qa.testcases.LoginTest"/>
      <class name="Com.Automation.IAG.CSS.AppTest"/>
      <class name="qa.testcases.AddProjectTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
